table {
    margin-left: 20%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

caption {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
